KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot/grub_boot.o \
$(ARCHDIR)/cpu/gdt.o \
$(ARCHDIR)/cpu/gdt_init.o \
$(ARCHDIR)/cpu/idt.o \
$(ARCHDIR)/cpu/interrupt.o \
$(ARCHDIR)/cpu/isr.o \
$(ARCHDIR)/devices/timer.o \
$(ARCHDIR)/gfx/vesa_graphics.o \
$(ARCHDIR)/io/keyboard.o \
$(ARCHDIR)/io/logger.o \
$(ARCHDIR)/io/shell.o \
$(ARCHDIR)/io/screen.o \
$(ARCHDIR)/io/ps2mouse.o \
$(ARCHDIR)/mem/heap.o \
$(ARCHDIR)/mem/paging.o \
$(ARCHDIR)/mem/paging_init.o \
$(ARCHDIR)/mem/pmm.o \
$(ARCHDIR)/misc/multiboot.o \
$(ARCHDIR)/sys/ports.o \
